@charset "UTF-8";

/* Mobile First Version */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
  --color01: hsl(257, 40%, 49%);
  --color02: hsl(300, 69%, 71%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bg-mobile.svg);
  background-color: var(--color01);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  color: white;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  flex-direction: row;
}

header > img {
  width: 200px;
  padding: 30px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

main > img {
  width: 320px;
}

div {
  min-width: 300px;
  max-width: 370px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

div > h1 {
  font-family: "Poppins";
  font-size: 25px;
  padding: 10px;
}

div > p {
  font-family: "Open Sans";
  font-weight: 400;
  padding: 10px;
  margin: 10px;
}

#register-button {
  font-family: "Open Sans";
  font-size: 13px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.308);
  text-decoration: none;
  color: var(--color01);
  background-color: white;
  padding: 15px;
  border-radius: 100px;
  margin: 20px;
}

#register-button:hover {
  background-color: var(--color02);
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

footer {
  min-height: 70px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 20px;
}

.icons {
  width: 30px;
  height: 30px;
  fill: white;
}

.icons:hover {
  fill: var(--color02);
  transition: fill 0.3s ease-in-out, color 0.2s ease-in-out;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(images/bg-desktop.svg);
    height: 100vh;
    align-items: center;
    padding: auto;
    padding: 80px;
  }

  header {
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 85%;
    left: 5%;
  }

  header > img {
    width: 300px;
  }

  main {
    flex-direction: row;
    text-align: left;
    column-gap: 80px;
    padding: 30px;
  }

  main > img {
    width: 880px;
  }

  div {
    max-width: 590px;
  }

  div > h1 {
    font-size: 40px;
  }

  div > p {
    font-size: 18px;
  }

  #register-button {
    width: 200px;
    text-align: center;
    font-size: 16px;
  }

  footer {
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }

  .icons {
    width: 45px;
    height: 45px;
  }
}
